/* || global */
* { box-sizing: border-box; margin: 0; padding: 0;}
html { font-size: 16px; }
body { 
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5rem;
  color: #646464;
}
a {
  text-decoration: none;
}
p, li { font-size: 1.15rem;}
img { width: 100%}

/* weights: 200,300,400,600,700,900;*/
/* || reutilizavel */
/* | cor */
.text-light,
.text-light a { color: #fff;} 
/* | tipografia */
.fw-200 { font-weight: 200;}
.fw-400 { font-weight: 400;}
.fw-600 { font-weight: 600;}
.text-center { text-align: center;}
.text-uppercase { text-transform: uppercase;}
.display-1 {
  font-size: 2rem;
  margin: 2.25rem 0;
  line-height: 2.2rem;
}
.display-2 {
  font-size: 1.5rem;
  margin: 2rem;
  line-height: 1.7rem;
}
.list-style-none { list-style: none;}
.lh-m { line-height: 2.8rem;}
/* | espaço */
.w-100 { width: 100%;}
.container {
  max-width: 1024px;
  padding: .4rem 1rem;
  margin-right: auto;
  margin-left: auto;
}
.container.pt-m { padding-top: 3.5rem;}
.limiter { max-width: 680px;}
.pb-p { padding-bottom: 1rem;}
.btn {
  background-color:darkturquoise;
  border-radius: 2px;
  padding: .4rem 1rem;
  font-weight: 900;
  letter-spacing: 1.5px;
}
/* | flex */
.d-flex { display: flex;}
.flex-column{ flex-direction: column;}
.justify-content-center { justify-content: center;}
.justify-content-between { justify-content: space-between;}
.justify-content-around { justify-content: space-around;}
.align-items-center { align-items: center;}

/* || especificas */
/* | topo */
.links-topo {
  position: sticky;
  top: 0;
  background-color: darkturquoise;
  height: 75px;
}
.links-topo a { font-size: 1.2rem;}
.links-topo a:hover { color: #646464;}
.links-topo figure { max-width: 130px;}
.links-topo ul { list-style: none;}
.links-topo li:not(:last-child) { margin-right: 1.2rem;}
/* | banner */
.banner {
  height: 500px;
  background: url("../assets/assets/recepcao.png") center;
  background-size: cover;
}
.h1,
.banner p {
 font-size: 4rem;
 line-height: 4.2rem;
}
/* | features */
.features > div { flex-flow: row-reverse;}
.features figure { align-self: flex-end;}
/* | cta especialidades */
.card-row { padding: 3rem 0;}
.card-row  figure {
  max-width: 30%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
}
.card-row  figcaption {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
/* | contato */
/* | footer */
.footer {
  margin-top: 5rem;
  background-color:darkcyan;
}
.footer figure {
  display: inline-block;
  max-width: 150px;
}
/* especialidades */
.nav-especialidades a {
  color: unset;
  padding: .5rem 0;
  border-bottom: 2px solid darkcyan;
}
.nav-especialidades a:hover {
  color: darkcyan;
  border-top: 2px solid darkcyan;
}
.especialidades div,
.especialidades table {
  width: 100%;
}
.especialidades table {
  border-spacing: 0;
  color: #212121;
}
.especialidades img {
  width: 270px;
  height: 100%;
  object-fit: cover;
}
.especialidades th,
.especialidades td {
  text-align: left;
  margin-right: auto;
  padding-left: .5rem;
}
.especialidades thead {
  background-color: darkturquoise;
  color:#fff;
}
.especialidades tbody tr:nth-child(odd) {
  background-color: silver;
}
.especialidades tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
#ortopedia { margin-top: -2.5rem;}

/* || media query */
/* 320 a 425 */
@media (max-width: 425px) {
  html { font-size: 14px;}
  :target::before { padding-top: 80px!important;}
  :target { margin-top: -80px!important;}
  /*  */
  .display-1 { margin-bottom: 1.3rem;}
  .display-2 { margin-bottom: 1rem;}
  /*  */
  .links-topo { height: 110px;}
  .links-topo > div { flex-direction: column;}
  .links-topo figure::after {
    content: "";
    display: block;
    position: relative;
    height:1px;
    width: 80vw;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom:2px outset rgba(255,255,255,.3);
  }
  /*  */
  .banner { max-height: 200px!important;}
  .h1,
  .banner p {
   font-size: 1.9rem;
   line-height: 2rem;
  }
  /*  */
  .card-row  figure { min-width: 80%;}
  /*  */
  .mapa {}
  .container.mapa { padding: 0 0 3.5rem;}
}
@media (max-width: 768px){
  .links-topo:target::before {
    content: "";
    display: block;
    padding-top: 40px;
  }
  .links-topo:target { margin-top: -40px;}
  /*  */
  .container.pt-m { padding-top: 2rem;}
  /*  */
  .banner { max-height: 300px!important;}
  .h1,
  .banner p {
   font-size: 2.5rem;
   line-height: 3.2rem;
   font-weight: 600;
  }
  /*  */
  .features ul { padding-left: 1.5rem;}
  .features figure { display: none;}
  .card-row {
    flex-wrap: wrap;
    padding-top: 0;}
  .card-row  figure {
    max-width: 40%;
    margin: 2rem 0;
  }
  .cta aside { margin: -2rem 0 1.5rem;}
}
@media (max-width: 1024px){
  .banner { max-height: 400px;}
}
@media (min-width: 1025px){}